@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.acceuil {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.993);
  }

.acceuil > img{
    position: fixed;
    z-index: -5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:95%;
 }

  body{
    background: #dad1d161;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
   
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 20px;
    font-weight: 700;
    border: 2px solid transparent;
  }

  nav ul li a:hover {
    border: 2px solid white;
    background-color: #f7657df5;
    color: white;
  }

  ul{
    background-color: rgb(218, 209, 209);
    margin-top: 0px;
  }

/**************************** Responsive ****************************/

@media all and (max-width:1000px){
  ul{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    height: 4vh;
    align-items: center;
  }

}

.formulaire{
    font-family: Montserrat, "sans-serif";
    display: flex;
    justify-content: center;
    color: #303030;
}

.contactez-moi {
    width: 700px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: white;
    }
    
    .contactez-moi > h1 {
    font-weight: 500;
    }
    
    .contactez-moi > p {
    font-weight: 300;
    }
    
    form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
    }
    
    form div > label {
    margin-bottom: 7px;
    font-weight: 600;
    }
    
    form div > input, form div > select, form div > textarea {
    background: rgb(240 237 237);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, "sans-serif";
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    }
    
    form div > input, form div > select {
    height: 50px;
    padding-left: 10px;
    }
    
    form div > select {
    appearance: none;
    background-size: 15px;
    background-color:rgb(240 237 237); 
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    }
    
    form div > textarea {
    height: 195px;
    padding: 15px 0px 0px 10px;
    }
    
    form div > input::placeholder, form div > textarea::placeholder {
    color: white;
    }
    
    form div > select:invalid {
    color: white;
    }
    
    form div > select option {
    background: white;
    color: #303030;
    }
    
    form div:last-child {
    align-items:center;
    margin-top: 20px;
    }
    
    form button {
    width: 450px;
    max-width: 500px;
    height: 60px;
    font-weight: 700;
    font-size: 28px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
    }

    input::placeholder {
        color: white;
    }

    input::placeholder {
        color: white;
    }