@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.acceuil {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.993);
  }

.acceuil > img{
    position: fixed;
    z-index: -5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:95%;
 }

  body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 20px;
    font-weight: 700;
    border: 2px solid transparent;
  }

  nav ul li a:hover {
    border: 2px solid white;
    background-color: #f7657df5;
    color: white;
  }

  ul{
    background-color: rgb(218, 209, 209);
    margin-top: 0px;
  }

  .texte{
    display: none;
  }

/**************************** Responsive ****************************/

@media all and (max-width:1000px){
  ul{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    height: 4vh;
    align-items: center;
  }

  .acceuil > img{
    display: none;
  }

  body{
    background: linear-gradient(rgb(218, 209, 209), white);
  }

  .texte{
    display: block;
    position: relative;
    top: 15vh;
  }

  .ak, .iut, .présentation{
    font-weight: bold;
    color: black;
    font-size: 2rem;
  }

  .présentation{
    color: rgba(67, 66, 66, 0.745);
    font-size: 1.2rem;
  }

 .BV{
    font-family: 'Bebas Neue', cursive;    
    color: #6909CF;
    font-weight: bold;
    font-size: 3.5rem;
  }
}

